/* line 17, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.0.0-p0/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'packard_antiquebold';
  src: url("../fonts/packardantique-bold.eot");
  src: url("../fonts/packardantique-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/packardantique-bold.woff") format("woff"), url("../fonts/packardantique-bold.ttf") format("truetype"), url("../fonts/packardantique-bold.svg#packard_antiquebold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../sass/_global.scss */
* {
  position: relative;
}

/* line 5, ../sass/_global.scss */
::selection {
  background: #a4bd2f;
  color: #fff;
}

/* line 10, ../sass/_global.scss */
::-moz-selection {
  background: #a4bd2f;
  color: #fff;
}

/* line 15, ../sass/_global.scss */
textarea:focus, input:focus {
  outline-color: #a4bd2f;
}

/* line 19, ../sass/_global.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 23, ../sass/_global.scss */
.seo {
  text-indent: -9999px;
  display: block;
}

/* line 28, ../sass/_global.scss */
a {
  color: #3972b5;
  text-decoration: none;
}

/* line 33, ../sass/_global.scss */
p {
  line-height: 1.875em;
}
/* line 35, ../sass/_global.scss */
p a {
  text-decoration: underline;
}

/* line 40, ../sass/_global.scss */
h1 {
  font-size: 65px;
  font-family: 'packard_antiquebold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #fff;
}

/* line 46, ../sass/_global.scss */
h2 {
  font-size: 40px;
  font-family: 'packard_antiquebold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #a4bd2f;
}

/* line 52, ../sass/_global.scss */
h3 {
  font-size: 22px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #a4bd2f;
  text-transform: uppercase;
}

/* line 59, ../sass/_global.scss */
h4 {
  font-size: 18px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #b8b8b8;
  text-transform: uppercase;
}

/* line 66, ../sass/_global.scss */
h5 {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #b8b8b8;
  text-transform: uppercase;
}

/* line 73, ../sass/_global.scss */
.btn {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: inline-block;
}
/* line 79, ../sass/_global.scss */
.btn.lrg {
  font-size: 20px;
  padding: 16px 22px;
  background: #f08d33;
}
/* line 83, ../sass/_global.scss */
.btn.lrg:hover, .btn.lrg:active {
  background: #3972b5;
}

/* line 93, ../sass/_global.scss */
body {
  background: #fff;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #585858;
}

/* line 100, ../sass/_global.scss */
.container {
  max-width: 1030px;
  padding: 0 20px;
  min-width: 600px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

/* line 110, ../sass/_global.scss */
.main-content .container {
  padding: 20px 20px;
}

/* line 115, ../sass/_global.scss */
.col3 {
  overflow: hidden;
  *zoom: 1;
}
/* line 117, ../sass/_global.scss */
.col3 .col {
  float: left;
  width: 30%;
  margin-right: 4%;
}
/* line 121, ../sass/_global.scss */
.col3 .col:nth-child(3n+3) {
  margin-right: 0;
}

/* line 127, ../sass/_global.scss */
.col4 {
  overflow: hidden;
  *zoom: 1;
}
/* line 129, ../sass/_global.scss */
.col4 .col {
  float: left;
  width: 25%;
}

/* line 138, ../sass/_global.scss */
header {
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* line 142, ../sass/_global.scss */
header nav {
  position: absolute;
  z-index: 9000;
  top: 0;
  background: rgba(194, 213, 38, 0.9);
  width: 100%;
  height: 52px;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}
/* line 153, ../sass/_global.scss */
header nav .logo {
  float: left;
  display: inline-block;
  width: 194px;
  height: 102px;
  margin-top: 52px;
  background: rgba(194, 213, 38, 0.9);
}
/* line 160, ../sass/_global.scss */
header nav .logo a {
  margin-top: -40px;
  display: block;
  height: 209px;
  width: 100%;
  background: url("../images/logo-headstandard.png") no-repeat top center;
}
/* line 171, ../sass/_global.scss */
header nav .sitenav li {
  float: left;
}
/* line 173, ../sass/_global.scss */
header nav .sitenav li a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #fff;
  display: block;
  padding: 18px 14px;
  font-size: 15px;
}
/* line 180, ../sass/_global.scss */
header nav .sitenav li a:hover, header nav .sitenav li a:active {
  background: rgba(0, 0, 0, 0.1);
}
/* line 188, ../sass/_global.scss */
header nav .promo {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #fff;
  float: right;
  padding: 18px 13px 18px 13px;
  background: url("../images/icon-whitearrow.png") no-repeat right center;
}
/* line 200, ../sass/_global.scss */
header .masthead {
  background-color: #000;
  background-size: cover;
  background-postion: top center;
  height: 350px;
}
/* line 205, ../sass/_global.scss */
header .masthead .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 200px 0 40px 0;
  background: url("../images/overlay-headerimage.png") repeat-x bottom center;
}
/* line 211, ../sass/_global.scss */
header .masthead .overlay h1 {
  padding-bottom: 8px;
}
/* line 214, ../sass/_global.scss */
header .masthead .overlay .subtext {
  color: #fff;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.5;
}

/* line 228, ../sass/_global.scss */
a.internal-ad {
  background: #000;
  height: 280px;
  display: block;
  background-size: cover;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 235, ../sass/_global.scss */
a.internal-ad .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: block;
  background: url("../images/overlay-headerimage.png") repeat-x bottom center;
  font-size: 40px;
  font-family: 'packard_antiquebold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  padding: 200px 0 24px 0;
  text-align: center;
}
/* line 247, ../sass/_global.scss */
a.internal-ad:hover, a.internal-ad:active {
  opacity: 0.8;
}

/* line 253, ../sass/_global.scss */
section.upcoming-events h3 {
  padding: 4px 0 14px 0;
}
/* line 256, ../sass/_global.scss */
section.upcoming-events .event {
  height: 64px;
  display: block;
  padding: 9px 0;
  color: #b8b8b8;
  font-size: 14px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  overflow: hidden;
  *zoom: 1;
}
/* line 264, ../sass/_global.scss */
section.upcoming-events .event .event-image {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width: 63px;
  height: 63px;
  border: 1px solid #3972b5;
  background: url("../images/events/default-thumb.jpg");
  float: left;
  margin-right: 16px;
  opacity: 0.9;
}
/* line 274, ../sass/_global.scss */
section.upcoming-events .event h4 {
  padding-top: 2px;
  color: #3972b5;
  line-height: 20px;
}
/* line 279, ../sass/_global.scss */
section.upcoming-events .event:hover, section.upcoming-events .event:active {
  color: #585858;
}
/* line 281, ../sass/_global.scss */
section.upcoming-events .event:hover .event-image, section.upcoming-events .event:active .event-image {
  opacity: 1;
}

/* line 286, ../sass/_global.scss */
section.cta {
  background: #a4bd2f url("../images/transformationcta-bg.jpg") right top;
  max-width: 640px;
  padding: 30px 36px 20px 36px;
  text-align: center;
}
/* line 291, ../sass/_global.scss */
section.cta h2 {
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 14px;
  text-align: left;
}
/* line 297, ../sass/_global.scss */
section.cta p {
  text-align: left;
  color: #39450e;
  padding-right: 120px;
}

/* line 311, ../sass/_global.scss */
footer {
  background: #a4bd2f;
  color: #39450e;
  margin-top: 10px;
  padding: 40px 0 60px 0;
  font-size: 14px;
}
/* line 318, ../sass/_global.scss */
footer .list, footer .contact {
  padding: 0 30px;
  border-left: 1px solid rgba(57, 69, 14, 0.4);
}
/* line 321, ../sass/_global.scss */
footer .list h4, footer .contact h4 {
  color: #39450e;
  padding-bottom: 16px;
}
/* line 326, ../sass/_global.scss */
footer .list ul a, footer .contact ul a {
  color: #fff;
  text-decoration: underline;
  padding-bottom: 12px;
  display: block;
}
/* line 331, ../sass/_global.scss */
footer .list ul a:hover, footer .list ul a:active, footer .contact ul a:hover, footer .contact ul a:active {
  text-decoration: none;
}
/* line 339, ../sass/_global.scss */
footer .contact p {
  line-height: normal;
  padding-bottom: 12px;
}
/* line 343, ../sass/_global.scss */
footer .contact .icon {
  margin-right: 6px;
}
/* line 348, ../sass/_global.scss */
footer .copyright {
  font-size: 12px;
  display: block;
  padding: 10px;
}

/* line 6, ../sass/_index.scss */
body.template-index header nav .logo {
  height: 188px;
}
/* line 8, ../sass/_index.scss */
body.template-index header nav .logo a {
  background: url("../images/logo-headindex.png") no-repeat top center;
}
/* line 15, ../sass/_index.scss */
body.template-index header .masthead.slider {
  height: 610px;
}
/* line 17, ../sass/_index.scss */
body.template-index header .masthead.slider .slide {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-postion: top center;
}
/* line 22, ../sass/_index.scss */
body.template-index header .masthead.slider .slide a.subtext {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 24, ../sass/_index.scss */
body.template-index header .masthead.slider .slide a.subtext:hover, body.template-index header .masthead.slider .slide a.subtext:active {
  opacity: 1;
}
/* line 33, ../sass/_index.scss */
body.template-index .index-feature {
  overflow: visible;
}
/* line 36, ../sass/_index.scss */
body.template-index .index-feature section.blog-teaser {
  margin-top: 10px;
  float: left;
  width: 25%;
  font-size: 14px;
}
/* line 41, ../sass/_index.scss */
body.template-index .index-feature section.blog-teaser h3 {
  margin-bottom: 10px;
}
/* line 44, ../sass/_index.scss */
body.template-index .index-feature section.blog-teaser .meta {
  margin: 10px 0;
  color: #b8b8b8;
  font-size: 12px;
}
/* line 50, ../sass/_index.scss */
body.template-index .index-feature section.cta {
  margin-top: -36px;
  float: right;
  width: 640px;
  height: 182px;
  margin-bottom: 60px;
}
/* line 60, ../sass/_index.scss */
body.template-index section.affiliates {
  text-align: center;
}
/* line 62, ../sass/_index.scss */
body.template-index section.affiliates a {
  margin: 20px;
  display: inline-block;
  opacity: 0.6;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 67, ../sass/_index.scss */
body.template-index section.affiliates a:hover, body.template-index section.affiliates a:active {
  opacity: 1;
}

/* line 2, ../sass/_standard.scss */
body.template-standard .main-content > .container {
  padding: 40px 20px;
}
/* line 6, ../sass/_standard.scss */
body.template-standard .main-content > .container > .main {
  width: 70%;
  margin-right: 4%;
  float: left;
}
/* line 10, ../sass/_standard.scss */
body.template-standard .main-content > .container > .main h1, body.template-standard .main-content > .container > .main h2, body.template-standard .main-content > .container > .main h3, body.template-standard .main-content > .container > .main h4, body.template-standard .main-content > .container > .main h5, body.template-standard .main-content > .container > .main h6 {
  margin-bottom: 10px;
}
/* line 13, ../sass/_standard.scss */
body.template-standard .main-content > .container > .main p {
  margin-bottom: 40px;
}
/* line 16, ../sass/_standard.scss */
body.template-standard .main-content > .container > .main section.cta {
  margin-top: 60px;
}
/* line 21, ../sass/_standard.scss */
body.template-standard .main-content > .container > .rail {
  width: 26%;
  float: left;
}
/* line 25, ../sass/_standard.scss */
body.template-standard .main-content > .container > .rail > * {
  margin-bottom: 50px;
}
