

header {

  //- logo
  nav .logo {
    height: 188px;
    a {
      background: url('../images/logo-headindex.png') no-repeat top center;
    }
  }


  //- slider
  .masthead.slider {
    height: 610px;
    @include breakpoint(mobile) { height: 600px; }
    .slide {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-postion:top center;
      .overlay { @include breakpoint(mobile) { display: none; } }
      a.subtext {
        @include fade;
        &:hover, &:active {
          opacity: 1;
        }
      }
    }
  }

}

.index-feature {
  section {
    &.blog-teaser {
      margin-top: 10px;
      float: left;
      width: 25%;
      font-size: 14px;
      @include breakpoint(tablet) {
        width: auto;
        float: none;
      }
      h3 {
        margin-bottom: 10px;
      }
      .meta {
        margin: 10px 0;
        color: $gray-light;
        font-size: 12px;
      }
    }
    &.cta {
      margin-top: -36px;
      float: right;
      width: 62%;
      margin-bottom: 60px;
      @include breakpoint(tablet) {
        width: auto;
        float: none;
      }
      .btn.lrg {
        margin-bottom: -40px;
        @include breakpoint(tablet) { margin: 20px 0 0 0; }
      }
    }
  }
}

section.affiliates {
  text-align: center;
  a {
    margin: 20px;
    display: inline-block;
    opacity: 0.6;
    @include fade;
    &:hover, &:active {
      opacity: 1;
    }
  }
}