
//----------------- Vars

$orange: #f08d33;
$blue: #3972b5;

$green-light: #c2d526;
$green: #a4bd2f;
$green-dark: #39450e;

$gray: #585858;
$gray-light: #b8b8b8;

//----------------- @FF

@font-face {
  font-family: 'packard_antiquebold';
  src: url('../fonts/packardantique-bold.eot');
  src: url('../fonts/packardantique-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/packardantique-bold.woff') format('woff'),
       url('../fonts/packardantique-bold.ttf') format('truetype'),
       url('../fonts/packardantique-bold.svg#packard_antiquebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

//----------------- Mixins

@mixin ff-heading {
  font-family:'packard_antiquebold', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

@mixin ff-body {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin ff-body-bold {
  font-family:'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin fade {
  @include transition-duration(.5s);
}

// https://github.com/michaelsacca/Compass-Placeholder-Text-Mixin
@mixin input-placeholder {
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; } 
}


// http://css-tricks.com/conditional-media-query-mixins/
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 990px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 600px)  { @content; }
  }
}